.banner__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__container {
    margin-top: 20px;
    margin-bottom: 25px;
    background-color: #D9D9D9;
}

.banner__img {
    width: 100%;
    height: auto;
}