.social__link {
    width: 46px;
    height: 37px;
    border-radius: 10px;

    transition: all 0.3s linear;

    &-svg {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;
        height: 100%;
    }

    &-icon {
        fill: #000000;
        transition: all 0.3s linear;

        &--another {
            stroke: #000000;
            transition: all 0.3s linear;
            fill: transparent;
        }
    }

    &:hover,
    &:focus {
        & .social__link-icon {
            fill: #ffffff;
        }

        & .social__link-icon--another {
            stroke: #ffffff;
            fill: transparent;
        }
    }

    &:active {
        box-shadow: 0 0 5px 5px #ffffff;
    }
}